anyio==3.6.1
fastapi==0.78.0
FastAPI-SQLAlchemy==0.2.1
greenlet==1.1.2
idna==3.3
mysql==0.0.3
mysqlclient==2.1.0
pydantic==1.9.1
sniffio==1.2.0
SQLAlchemy==1.4.37
sqlalchemy2-stubs==0.0.2a23
sqlmodel==0.0.6
starlette==0.36.2
typing_extensions==4.2.0
